input {
  margin-top: 20px;
  margin-bottom: 15px;
}

.brand-logo {
  margin-left: 15px;
}

.clearfix {
  overflow: auto;
}

#tags {
  .tag {
    float: left;
    display: inline-block;
    font-weight: bold;
    margin-left: 15px;
  }
}