.col.s12.text-center
  .row.center
    form(ng-submit='search()')
      .input-group
        input.form-control(placeholder='List of #words' ng-model='words')
        .input-group-btn
          button.btn.btn-default(type="submit") Go

    .card-panel
      #tags.clearfix
        .tag(ng-repeat="(tag, size) in tags track by $index" style="font-size: {{size}}px; color: {{randColor[$index]}}") {{tag}}
          span(ng-click='includeInTweet(tag)')

//- textarea(placeholder='tweet here', ng-model='tweet')
//- button(ng-click='sendTweet()')